

.jumbotron{
    background-color: maroon;
    font: bold;
    color: white;
}
#box
{
    border-radius: 50%;
    }
    h3{
        font: white;
    }
body
{
    background-color: darkgrey;
}

#train-schedule
{
    background-color: goldenrod;
    font:white;
    font-weight: bold;
}
#add-header
{
    background-color: goldenrod;
}
#add-train-button
{
background-color:goldenrod;
}
#add-train-background
{
    background-color: maroon;
    font: white;
}
#table
{
    background-color: maroon;
    font: white;
}
#thead{
    color:white;
}
#form{
    color: white;
}
#first-train-input{
    background-color: grey;
}
#destination-input{
    background-color: grey;
}
#train-name-input{
    background-color: grey;
}
#frequency-input{
    background-color: grey;
}
#schedulehead{
    color: white;
    background-color: goldenrod;
}